<div id="signups-header">
  <h1>Local Merchants</h1>
  <img src="/images/bling_logo.gif" alt=""/>
</div>
<div class="clear"></div>
<p>These merchants have already signed up with Bling Nation using <%= @bank.name %> in <%= @bank.city %></p>

<% @bank.merchants.each do |merchant| %>
  <ul>
    <li><%= merchant.name  %></li>
  </ul>
<% end %>