<h1>Admin</h1>
<p>Please choose one of the following options:</p>

<p><%= link_to "Manage Bank List", banks_url %></p>
<p><%= link_to "Manage Merchant Lists", merchants_url %></p>
<p><%= link_to "Manage Email Addresses", email_addresses_url %></p>
<p><%= link_to "View All Agreements", agreements_url %></p>