/* put any css in here that is specific to ie */
#check-box-bottom {
  padding-top:0;
}

#agreement_new_account {
  height:8px;
  width:8px;
}

#monthly-pricing p {
  font-size:11px;
}

#top-box {
  margin-top:10px;
}