body { 
  background-color: #fff;
  color: #333;
  margin:0;
  list-style: none;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
}

h1 {
  padding-top:5px;
  font-size:20px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.clear {
  clear: both;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
  
}



#business-type-select {
  float:left;
  margin-left:70px;
  text-align: left;
  background-color:#eeeeee;
  width:300px;
  height:110px;
  padding-top:5px;
  padding-left:5px;
  padding-bottom:10px;
}

#business-type-select p {
  margin-top:3px;
  margin-bottom:10px;
}

#bank {
  margin-top:15px;
}

#business_type {
  text-align: center;
}

#popup-header {
  margin:0;
}
#popup-header li {
  float:left;
  list-style: none;

}

#touts {
  text-align:left;
  margin-left: 40px;
  margin-bottom:25px;
  padding-right:40px;
}

#touts p {
  margin:0;
}

#cboxClose{
  display:none !important;
}

#go-button {
  margin-top:95px;
  float:left;
  cursor: pointer;
  padding: 7px 7px 7px 7px;
  font-weight: bold;
  margin-left:30px;
  background-color:#00B0DB;
}

#go-button:hover {
  background-color:#00C1F0;
}

#go-button p {
  margin:0;
  color:white;
}

#logo {
  float:left;
  width: 93px;
  height: 64px;
}
#type-header {
  text-align: right;
  float:left;
  width:631px;
  margin-top:15px;
  border-bottom: solid 4px #dddddd;
}

#container {

  margin-left:60px;
  margin-top:30px;
  width:725px;
}

#top-box {
  height:236px;
  width:720px;
  margin-top:8px;
  border: solid 2px #dddddd;
}

#top-box img {
  float:left;
}

#merchant-info, #contact-info {
  margin-top:5px;
  margin-right:15px;
  float:left;
  margin-left:5px;
  width:300px;
}

#contact-info {
  margin-top:10px;
}

#merchant-info input, #contact-info input {
  border-top:none;
  border-left:none;
  border-right: none;
  height:20px;
}
#merchant-info label, #contact-info label {
  display:block;
  font-size:11px;
}
#number-answers li {
  float:left;
  margin-right:15px;
}

#city-state-zip li {
  float:left;
}

#ownership-type-1 p, #ownership-type-2 p, #ownership-type-1 label, #ownership-type-2 label, #ownership-type-1 input, #ownership-type-2 input  {
  float:left;
  font-size:11px;
  margin-top:0;
  margin-bottom:0;
}

#ownership-type-1 label, #ownership-type-2 label {
  padding-top:2px;
}

#agreement_ownership_type_input {
  float:left;
}

#agreement_ownership_type_input input {
  height:20px;
}

#dba-name p {
  padding-top:5px;
  float:left;
  font-size: 10px;
  font-style: italic;
}

#dba-name input {
  float:left;
  border-top:none;
  border-left:none;
  border-right: none;
  border-bottom-color: #333333;
  height:20px;
}

#pricing {
  margin-top:3px;
  margin-bottom:10px;
  border:solid 2px #cccccc;
}

#pricing-top p {
  padding-top:3px;
  font-weight: bold;
  float:left;
}
#pricing-top input {
  margin-right:5px;
  border-top:none;
  border-left:none;
  border-right: none;
  border-bottom-color: #000000;
}

#pricing-top li {
  float:right;
}

#check-left {
  float:left;
  margin-left: 1px;
}

#check-center-area {
  width:725px;
}

#agreement_name_on_account_input label {
  padding-top:15px;
  padding-left:5px;
  float:left;
}

#agreement_name_on_account_input input {
  float:left;
  padding-top:15px;
  border-top:none;
  border-left:none;
  border-right: none;
  border-bottom-color: #000000;
}

#check-top-right {
  float:right;
  margin-right:2px;
}

#check-lower-section input {
  float:left;
  height:28px;
  border:none;
  padding-left:5px;
  padding-right:7px;
}

#check-lower-section img  {
  float:left;
}

#acct-num-input {
  width:251px;
}

#bank-name-input {
  width:255px;
}

#bottom-section {
  float:left;
}

#little-string {
  height:40px;
  float:left;
}
#little-string input,#little-string img {
  display:block;
}
#check-box-bottom {
  padding-top:1px;
}

#agreement_new_account {
  height:13px;
  width:13px;
  margin:0;
}

#bottom {
  height:265px;
  width:720px;
  margin-top:8px;
  border: solid 1px #dddddd;
}


#bottom li {
  float:left;
  margin-left:10px;
  margin-right:20px;
}

#bottom input {
  border-top:none;
  border-left:none;
  border-right: none;
  height:20px;
}
#bottom label {
  display:block;
  font-size:11px;
}
#submit {
  margin-top:10px;
}

#main-table tr td {
  background-color: #eeeeee;
  font-size:10px;
  padding-right:3px;
  padding-left:3px;
}

.table-top {
  font-weight: bold;
}