<div style="height:100%; width:100%; text-align:center; margin-top:100px;">
  <h1>Success!</h1>
  <img src="/images/bling_logo_agreement.png" alt="bling logo" width="93px" height="64px"/>
  <div class="clear"></div>
  <p>Thanks for signing up to accept Mobile Payments with Bling Nation</p>

  <p>Check your email for a copy of the agreement you just signed</p>
</div>