<div id="rules-header">
  <img src="images/bling_logo_agreement.png" alt="Bling Nation Logo" height="64px" width="93px"/>
  <h1>MERCHANT OPERATING RULES</h1>
</div>
<div id="rules">
  <p>
    These Merchant Operating Rules are issued under and incorporated by reference into the Merchant Services Agreement. Capitalized terms defined in the Merchant Services Agreement shall have the same meaning as used in these Operating Rules. Merchant agrees to be bound by and comply with the following Operating Rules, together with any and all modifications, revisions and additions thereto as may be published from time to time by Bling Nation.
  </p>
  <ol>
    <li>
      <p>Rental Terms Applicable to Hardware Devices</p>
      <ul class="legal-list">
        <li>Bling Nation (or an authorized third party designated by it) will make one or more hardware devices equipped with a contactless reader that is used to accept transactions initiated by a Consumer (a “Blinger”) available to Merchant for rental during the Term of the Agreement.</li>
        <li>Merchant agrees to maintain the Blinger in good working order and not subject it to negligence or other misuse.</li>
        <li>Merchant agrees that it will use the Blinger only for the purposes of accessing the Services and for no other purpose.</li>
        <li>In the event that the Services, Merchant’s Blinger and/or a Consumer’s authorized payment method is not functioning, Merchant understands that it will be unable to use the Services and will be required to request another form of payment; this will be done without liability to Bling Nation.</li>
        <li>Each Blinger is and will remain the exclusive property of Bling Nation. Title to the point of sale terminal will remain with Bling Nation, and Merchant has no rights or interest in any Blinger.</li>
        <li>Merchant will maintain insurance against all risks for the full value of the point of sale terminal in favor of Bling Nation. Merchant will assume the entire risk of loss with respect to each Blinger from any and all causes during the term of the Agreement and will reimburse Bling Nation for any loss or damage to the Blinger irrespective of any insurance that may be in effect.</li>
        <li>Upon termination of the Agreement, Merchant will be responsible for returning the Blinger in good working order to Bling Nation. In the event it fails to, it shall pay Bling Nation the Blinger Recovery Charge.</li>
      </ul>
    </li>
    <li>
      <p>Accepting Payment from Consumers</p>
      <ul class="legal-list">
        <li>Merchant agrees that it will accept, without discrimination, any payment transactions initiated by a consumer with an authorized payment method that utilizes the Services (including, but not limited to, a “BlingTag”) (each such consumer, a “Consumer” and each such payment transaction, a “Payment”).</li>
        <li>Merchant will not impose any special conditions, surcharges or fees for accepting Payment from a Consumer. Merchant will not establish and/or publish a minimum or maximum transaction amount as a condition for accepting Payment from a Consumer.</li>
        <li>Merchant will not request or require that any Consumer provide any personal information to initiate a Payment (including but not limited to home and/or business address or telephone, driver’s license number and/or email address).</li>
        <li>Merchant will only accept Payment from a Consumer where the Consumer’s BlingTag (or other authorized Bling Nation payment method) is present.</li>
        <li>Merchant will only engage in the lawful sale of goods and/or services to Consumers, and will accept Payment only for a bona fide transaction in which it has provided goods and/or services to a Consumer.</li>
        <li>Merchant will not accept or otherwise process a fraudulent sale or any sale made by any other merchant.</li>
        <li>Merchant will include in the total transaction amount any taxes it is required to collect and will not collect this in cash or other form of payment.</li>
        <li>Merchant will maintain a fair policy regarding the return of merchandise or cancellation of service. This must be disclosed clearly to Consumers and followed as disclosed.</li>
        <li>Merchant understands that Consumers may not be provided with paper receipts, irrespective of transaction size. Receipts are provided by an SMS text message sent to a Consumer and/or by the Consumer accessing a web-based console. Merchant agrees that these types of receipts will be accepted by Merchant for all purposes a paper receipt is accepted, including for compliance with Merchant’s return policy.</li>
      </ul>
    </li>
    <li>
      <p>Maintenance of Account with Financial Institution</p>
      <ul class="legal-list">
        <li>Merchant agrees that it will maintain an account in good standing with the Financial Institution. The Agreement will terminate immediately if such Account is closed, unless another account is opened within 5 business days with a Bling Nation-enabled financial institution.</li>
        <li>Merchant acknowledges and agrees that Bling Nation has no liability for any fees, costs and expenses associated with such account.</li>
        <li>Merchant acknowledges and agrees that Bling Nation has no liability to Merchant for the settlement of Authorized Transaction in the event that Merchant’s Financial Institution refuses to make such funds available to the Merchant for any reason or the Financial Institution sets off any obligation against funds arising from the Authorized Transaction. Bling Nation’s only obligation is to provide the Merchant’s Financial Institution with information regarding the appropriate settlement amount for Authorized Transaction. Bling Nation is not responsible to Merchant for final settlement of funds from Authorized Transaction to the Merchant’s account at the Financial Institution or otherwise.</li>
      </ul>
    </li>
    <li>
      <p>Transaction Data</p>
      <ul class="legal-list">
        <li>Merchant agrees and acknowledges that all data relating to Payments processed by it may be used by Bling Nation in providing services to Merchant, Bling Nation’s other merchants and financial institution clients, and Consumers.</li>
      </ul>
    </li>
    <li>
      <p>Publicity</p>
      <ul class="legal-list">
        <li>Merchant agrees to prominently display appropriate Bling Nation decals and program marks at its locations, on its website and on other promotional materials.</li>
        <li>Merchant will not indicate that Bling Nation endorses its goods or services.</li>
        <li>Merchant’s right to use the marks of Bling Nation terminates upon the earlier of (i) termination of the Agreement or (ii) delivery of notice to Merchant of the termination of its right to use the mark.</li>
        <li>All usage of the marks of Bling Nation must be in compliance with the requirements of Bling Nation relating to its marks.</li>
        <li>Merchant consents to the use of its name and/or logo in Bling Nation’s marketing and sales materials, including in its press releases and on its website.</li>
      </ul>
    </li>
    <li>
      <p>Consumer and Merchant Data</p>
      <ul class="legal-list">
        <li>Notwithstanding anything to the contrary contained in the Agreement or these Operating Rules, Bling Nation shall not be prohibited from using anonymous and aggregate forms of Confidential Information relating to Merchants and Consumers for the purpose of market analysis. Merchant understands and acknowledges that its Confidential Information may be made available, on an anonymized and aggregated basis, to other merchants and financial institutions and other third parties.</li>
      </ul>
    </li>
    <li>
      <p>Dispute Resolution</p>
      <ul class="legal-list">
        <li>Any and all disputes arising out a Payment between Merchant and a Consumer will be resolved by Bling Nation (or an authorized third party designated by it), working directly with Merchant and Consumer’s financial institution. Merchant agrees to provide all reasonable cooperation (including timely providing requested information) in connection with such resolution and agrees that it shall abide by Bling Nation’s resolution (or the resolution of an authorized third party designated by it) of any such matter. Where the transaction has settled, no transaction fees will be returned to Merchant in connection with a refund or chargeback, as described below, however, Merchant will not be charged any additional transaction fees to process the refund/chargeback.</li>
        <li>Refunds: A Merchant may request (or be required) to initiate a full or partial refund of a transaction using the Blinger.</li>
        <li>Chargebacks: A Consumer can dispute a Payment with Merchant by contacting the issuer of Consumer’s payment method. Where a Merchant has an excessive number of disputed transactions (as determined by Bling Nation in its sole discretion), this constitutes a violation of these Operating Rules by Merchant. Among others, reasons for disputed transactions may include where Consumer notifies its financial institution that (i) the purchase price on the sales receipt did not equal the amount of the debit to the Consumer’s account; (ii) the goods or services paid for at the Merchant were not received, defective, or not as described; (iii) a credit for returned goods was not processed; and/or (iv) a transaction was fraudulent.</li>
      </ul>
    </li>
    <li>
      <p>Other Requirements</p>
      <ul class="legal-list">
        <li>Merchant agrees that during the term of the Agreement and for 3 years thereafter, it will make all books and records relating to the Agreement available for inspection at its headquarters during normal business hours, upon advance notice, to Bling Nation and any authorized government agency.</li>
        <li>Merchant understands and acknowledges that it does not have exclusive rights with respect to the Services and/or the BlingLink. Merchant acknowledges that the BlingLink is a multi-party platform that will process transactions for any Consumer and any Merchant.</li>
      </ul>
    </li>
  </ol>
</div>