<h1>Listing email_addresses</h1>

<table>
  <tr>
    <th>Email address</th>
  </tr>

<% @email_addresses.each do |email_address| %>
  <tr>
    <td><%=h email_address.email_address %></td>
    <td><%= link_to 'Delete', email_address, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New email_address', new_email_address_path %>